<!DOCTYPE html>
<html lang="pt-br">
  
<head>
    <meta charset="UTF-8">
    <title>Pesquisar por um anúncio</title>
</head>
  
<body>
    <h1>Pesquisar por um anúncio</h1>
  
    <!-- Create Form -->
    <form id="form">
         <div class="form-control">
            <label for="name" id="label-name">Nome</label>
            <input type="text" id="name" placeholder="Digite o título do anúncio" />
        </div>

        <div class="form-control">
            <label for="name" id="label-descrição">Descrição</label>
            <input type="text" id="descrição" placeholder="Digite a descrição do anúncio" />
        </div>
        
        <div class="form-control">
            <label for="role" id="label-role">Categoria</label>
             
            <select name="role" id="role">
                <option value="eletrodomesticos">Eletrodomésticos</option>
                <option value="eletronicos">Eletrônicos</option>
                <option value="veiculos">Veículos</option>
                <option value="outra">Outra</option>
            </select>
        </div>
  
        <button type="submit" value="Pesquisar">Pesquisar</button>
        
        <div class="form-control">
            <label for="pergunta">
                Cadastrar uma pergunta
            </label>
 
            <!-- multi-line text input control -->
            <textarea name="pergunta" id="pergunta" placeholder="Digite sua pergunta aqui"></textarea>
        </div>
        <p><input type="submit" value="Cadastrar"></p>
    </form>
</body>
  
</html>